# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Notes
Notes.txt

# Production scripts
clean_db.py
create_first_admin.py
manage_restaurant.py

# Database
data/orders.db
data/*.db-wal
data/*.db-shm

# Assets
static/assets/clint_one
static/assets/clint_two
private/

# Python version
.python-version