# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# old json files
data/

# images
private/
static/assets
static/blog

# test cache
.pytest_cache/
htmlcov/
coverage.xml
.coverage
.coverage*